body {
  background-color: black;
  color: white;
  /* font-size: 1vw; */
} 

.cls-1 {
  fill: #1d75b8;
}

.cls-2 {
  fill: #2d3e50;
}

.header {
  display: flex;
  border: 1px solid grey;
  height: 5vh;
  align-items: center;
}

.Input-Container {
  display: grid;
  grid-template-columns: auto 350px;
  height: 90vh;
  /* grid-template-rows: auto 1fr; */
}

.Flex-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* width: 79%; */
}

.Flex-2 {
  /* border: 1px solid rgb(105, 105, 105); */
  display: flex;
  /* padding-top: 5rem; */
  /*  */
 /* padding-bottom: 10rem; */
  align-items: center;
  flex-direction: column;
  /* height: calc(100vh - 15px); */
  /* height: calc(90vh - 15px); */
  gap: 1.25rem;
  justify-content: center;
  /* width: 19%; */
}

.Flex-2-1 {
  /* height: calc(80vh - 15px); */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* border: 1px solid red; */
  /* margin-top: 5rem; */
  overflow-y: auto;
}

.Card-div {
  margin-bottom: 0.75rem;
}

.Cards {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.Input-box {
  background-color: rgb(39, 42, 60);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  /* padding-top: 20rem;
  padding-bottom: 20rem; */
  /* height: calc(80vh - 15px); */
  /* overflow: scroll; */
}

.first-box {
  display: flex;
}

.h22 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.footer{
  position: fixed;
  display: flex;
  align-items: flex-end;
  height: 5vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}

/* .inline {
  display: inline;
} */

@media only screen and (max-width: 810px) {
  .Flex-2 {
    display: none;
  }

  body {
    box-sizing: border-box;
  }

  /* .header {
    display: none;
  } */
   
  .Input-Container {
    display: grid;
    grid-template-columns: auto 0px;
    text-align: center;
    /* padding-left: 8px;
    padding-right: 8px;
    height: calc(100vh - 30px); */
  }
  .Input-box{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    /* height: calc(80vh - 1vh); */
  }
}
